/* HomePage.css */
.homepage {
    padding: 20px;
}

.head {
    text-align: center;
    font-size: 56px;
}
.streams-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.stream-item {
    flex: 1 0 calc(25% - 20px); /* Adjust the width of each item */
    max-width: calc(25% - 20px); /* Add max-width for consistency */
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
}

.stream-item img {
    width: 100%;
    height: 150px; /* Set a fixed height for the images */
    object-fit: cover; /* Maintain aspect ratio and cover the container */
}

.stream-content {
    padding: 10px;
}

.stream-content h3 {
    margin-top: 0;
}

.stream-content p {
    margin-bottom: 0;
}
