.navbar {
    background-color: #fffcfc;
    color: #fffefe;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}



.logo img {
    height: 100%;
    width: auto;
}


.nav-links ul {
    display: flex;
    list-style: none;
}

.nav-links ul li {
    margin-right: 65px;
}

.nav-links ul li a {
    text-decoration: none;
    color: #555;
}

.search-container input[type="text"] {
    padding: 10px;
    border-radius: 5px;
    border: none;
    width: 200px;
}

.search-container button {
    padding: 8px 15px;
    background-color: #555;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width: 100px;
}

.auth-links button {
    padding: 8px 15px;
    background-color: #555;
    color: #fefbfb;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.nav-links ul {
    display: flex;
    list-style: none;
  }
  
  @media screen and (max-width: 767px) {
    .nav-links ul {
      display: none;
    }
    .hamburger-menu .line {
        width: 25px;
        height: 3px;
        background-color: #0d0d0d;
        margin: 5px;
    }
  }
  
    