
.signin-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin-top: -50px; /* Adjust as needed */
}

.signup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin-top: -50px; /* Adjust as needed */
}

h2 {
    text-align: center;
}

form {
    width: 300px; /* Adjust the width as needed */
    margin: 20px;
}

input {
    width: 100%;
    margin: 8px 0;
    padding: 10px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #6fc5d0;
    color: #FFFFFF;
    border: 1px solid #78b4e0;
    border-radius: 5px;
    cursor: pointer;
}

p {
    text-align: center;
    margin-top: 10px;
}

p a {
    color: #333;
    font-weight: bold;
}
